body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    padding-top: 70px; 
    margin-top: 70px;
}

.container_2 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: none; 
}

.page-title {
    font-size: 2.5rem;
    color: #333;
    text-align: left; 
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.regulations-section {
    margin-bottom: 20px; 
    padding: 0; 
    background-color: transparent; 
    border: none; 
}

.section-title {
    font-size: 1.6rem;
    color: #222; 
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.section-text {
    font-size: 1.1rem;
    color: #333; 
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
}

.section-list {
    list-style-type: decimal; 
    padding-left: 40px; 
    font-family: 'Arial', sans-serif;
    color: #333; 
}

.list-item {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: calc(100vh - 140px); 
    margin-top: 70px; 
}

.image {
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
}
